*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*TAGS*/
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
}
input{
    border: none;
}
figure{
    border-radius: 50px;
    width: 50px;
    overflow: hidden;
    flex-shrink: 0;
    height: 50px;
}
figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*ID*/
#last-sign-in,.last-message{
    color: gray;
    font-size: 90%;
    margin-top: 4px;
}
#message-text{
    background-image: url("../img/mine.jpg");
    flex-grow: 1;
    overflow: scroll;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
#write i{
    display: none
}
#contatto{
    position: relative;
}
#last-sms-hour{
    position: absolute;
    top: 5px;
    right: 8px;
    color: gray;
    font-size: 12px;
}

/*CLASS*/
.container{
    width: 100%;
}
.row{
    display: flex;
    height: 100%;
}
.col:first-child,
.col:first-child .scroll div > div,
#search-chat,
#notification,
.icons-setting{
    display: none;
}
.col:nth-child(2) input{
    flex-grow: 1;
    border-radius: 10px;
}
.col:first-child .scroll > div{
    background-color: white;
}
.col:nth-child(2){
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.scroll{
    flex-grow: 1;
}
.message{
    display: inline-block;
    max-width: 70%;
    border-radius: 15px;
    margin: 1rem 0;
    background-color: white;
    padding: 0.8rem;
    position: relative;
    font-size: 15px;
}
.info-delete{
    background-color: white;
    color: gray;padding: 1rem 0;
    text-align: center;
    width:150px ;
    position: absolute;
    right: 0;
    top: 29px;
    z-index: 1;
}
.message p{
    margin-right: 1rem;
    word-wrap: break-word
}
.date{
    display: inline;
    background-color: rgb(68, 68, 68);
    color: rgb(191, 194, 197);
    padding: 0.5rem;
    border-radius: 15px;
}
.fa-angle-down{
    position: absolute;
    top: 13px;
    right: 5px;
}
.me{
    background-color: #d4f9bb;
    float: right;
}
.ora{
    color: rgb(202, 198, 198);
    font-size: 12px;
    position: absolute;
    right: 7px;
    bottom: 1px;
}

/*FLEX*/
.flex{
    display: flex;
}

/*MARGIN*/
.m-left-1{
    margin-left: 1rem;
}
.m-left-10{
    margin-left: 10px;
}
.m-top-0_5{
    margin-top: 0.5rem;
}
.m-10{
    margin: 10px ;
}
.m-5{
    margin: 5px;
}
.mx-1{
    margin: 0 1rem;
}
.mt-1{
    margin-top: 1rem;
}


/*PADDING*/
.p-photo{
    padding: 0.5rem 1rem;
}
.p-0_5{
    padding: 0.5rem;
}
.p-1{
    padding: 1rem;
}

/*BG COLOR GREY*/
.bg-grey{
    background-color: #eaeaea;
}
.bg-light-grey{
    background-color: #f9f9f9;
}
.bg-white{
    background-color: white;
}
.bg-light-blue{
    background-color: #8fdafc;
}
.bg-panna{
    background-color: #f3eeeb;
}

/*ALIGN*/
.space{
    justify-content: space-between
}
.align-center{
    align-items: center;
}
/*TEXT PROPERTY*/

    /*FONT SIZE*/
    .fs-90{
        font-size: 90%;
    }
    .fs-1{
        font-size:23px;
    }

    /*COLOR*/
    .grey{
        color: grey;
    }
    .light-blue{
        color: #8fdafc;
    }

/***************************/

@media  screen and (min-width:576px) {
    .col:first-child {
        display: block;
    }
    .col:nth-child(2) .icons-setting{
        display: flex;
    }
    #write i{
        display: block;
    }
    #write{
        padding: 1rem 0;
    }
}

@media  screen and (min-width:1070px) {
    body{
        background: linear-gradient(to bottom,#029688 15%,#dbdbd2 15% 85%);
    }
    .container{
        width: 70%;
        max-width: 1700px;
        margin: auto;
        height: 80%;
    }
    .col:first-child{
        width: 350px;
    }
    .col:first-child .scroll div > div,
    #search-chat,  
    .icons-setting{
        display: block;
    }
    #notification{
        display: flex;
    }
    .col:first-child {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow: hidden;
    }
    .col:first-child .scroll{
        display: flex;
        flex-direction: column;
        gap:2px;
        overflow: scroll;
    }
}