<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://kit.fontawesome.com/84c04c9e02.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body id="app">
    <div class="container">
        <div class="row">
            <div class="col">
                <header class="p-photo bg-grey flex space">
                    <figure><img src="./img/avatar_io.jpg" alt="michele"></figure>
                    <div class="grey fs-1 m-top-0_5 icons-setting">
                        <i class="fa-solid fa fa-circle-o-notch m-10"></i>
                        <i class="fa-solid fa-message m-10"></i>
                        <i class="fa-solid fa-ellipsis-vertical m-10"></i>
                    </div>
                </header>

                <div class="bg-light-blue p-1" id="notification">
                        <i class="fa-solid fa-bell-slash light-blue bg-white" style="font-size: 1.5rem; border-radius: 30px;padding: 1rem 0.8rem;"></i>
                    <div class="p-0_5 m-left-1" style="min-width: 260px;">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#" class="grey m-top-0_5 fs-90 ">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="grey p-0_5 bg-light-grey" id="search-chat">
                    <div class="bg-white p-0_5">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" size="30" class="grey m-left-1">
                    </div>
                </div>
                
                <div class="scroll bg-light-grey">
                    <div class="p-photo flex" v-for="(contact, index) in contacts" @click="openChat(index)">
                        <figure><img :src="contact.avatar" alt="contact.name"></figure>
                        <div class=" m-left-1 m-top-0_5">
                            <p>{{contact.name}}</p>
                            <p id="last-sign-in">{{contact.messages[contact.messages.length-1].message}}</p>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="col" >
                <header class="p-photo bg-grey flex space">
                    <div class="flex">
                        <figure><img src="./img/avatar_1.jpg" alt="michele"></figure>
                        <div class="m-left-1 m-top-0_5">
                            <p>Michele</p>
                            <p id="last-sign-in">Ultimo accesso oggi alle 16:26</p>
                        </div>
                    </div>
                    <div class="grey fs-1 m-top-0_5 icons-setting">
                        <i class="fa-solid fa-magnifying-glass m-5"></i>
                        <i class="fa-solid fa-paperclip m-5"></i>
                        <i class="fa-solid fa-ellipsis-vertical m-5"></i>
                    </div>
                </header>
                <div id="message-text">
                    <div class="message" v-for="message in contacts[currentIndex].messages" :class="{me:message.status==='sent'}">
                        <p>{{message.message}}</p>
                        <i class="fa fa-angle-down grey"></i>
                        <span class="ora">16:30</span>
                    </div>
                </div>
                <div class="bg-panna p-1 flex grey align-center" id="write"> 
                    <i class="fa-regular fa-face-smile mx-1 fs-1 "></i>
                    <input type="text" placeholder="Scrivi un messaggio" class="grey p-1">
                    <i class="fa-solid fa-microphone mx-1 fs-1 "></i>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>